body {
    background-color:gray;
    color: black;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
}
.uk-card-body {
    background-color:  gray;
    color: whitesmoke;
    padding: 15%;
    border-color: black;
    border-style: groove;
}

