body {
    /* background-color:gray; */
    color: black;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
}
.uk-card-body {
    background-color:  gray;
    color: whitesmoke;
    font-size: 15px;
    padding: 5%;
    width: 15em;
    border-color: black;
    border-style: groove;
    
}

.uk-card-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}